html, body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(51, 51, 51);
  overflow: hidden;
}
h1 {
  text-align: center;
  color: rgb(201, 201, 201);
  margin-top: 5vh;
  margin-bottom: 0vh;
  font-size: 3.5em;
}
a {
  text-decoration: none;
  color: rgb(208, 165, 37);
}
footer {
  position: absolute;
  top: 89vh;
  left: 3vw;
  font-size: 1.3vmax;
  z-index: 2;
  color: rgb(177, 177, 177);
}
.button {
  position: absolute;
  display: inline;
  padding: 1vmax;
  font-size: 2.3vmax;
  width: 9.5vmax;
  background-color: rgb(139, 139, 139);
  border: none;
  color: var(--body-color);
  text-align: center;
  text-decoration: none;
  margin: 1em 0em;
  margin-left: 10vw;
  cursor: pointer;
  border-radius: 1vmax;
  user-select: none;
  outline: none;
  box-shadow: 0 0.5vmax rgb(221, 221, 221);
  z-index: 1;
}
.button:active {
  box-shadow: 0 0.3vmax rgb(102, 102, 102);
  transform: translateY(4px);
}
#pause_button {
  top: 15vh;
  margin-left: 3vw;
}
#reset_button {
  top: 15vh;
  margin-left: 14vw;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2em;
  }
  .button {
    position: static;
  }
  #pause_button {
    margin-left: 6vw;
  }
  #reset_button {
    margin-left: 3vw;
  }
